.animated-btn {
    animation: fadeInUp 0.5s ease-in-out;
}

.animated-menu {
    animation: slideInDown 0.5s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes btnColorChange {
    from {
        background-color: #FFCC00; /* Highlight Color */
    }
    to {
        background-color: #b6ac4b; /* Updated Green */
    }
}

@keyframes menuColorChange {
    from {
        background-color: #0A2463; /* Main Color */
    }
    to {
        background-color: #65AFFF; /* Sky Blue */
    }
}
